<!DOCTYPE html>
<html lang="en">
  <link href="../../article_view_style.css" rel="stylesheet" type="text/css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article Screen</title>
  </head>
  <body>
    <h1> 
        New Blog 
    </h1>
    <form action="" method="post">
      <div class="input title_input">
        <label for="blog_title">Blog Title</label>
        <input type="text" id="blog_title" name="blog_title" required>
      </div>
    
      <div class="input content_input">
        <label for="content">Write your story here!</label>
        <textarea id="content" name="content" required></textarea>
      </div>

      <!-- <div class="input user_input">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
    
      <div class="input user_input">
        <label for="password">Password</label>
        <input id="text" name="password" required>
      </div> -->
    
      <button type="submit" class="submit_button">Submit</button>
    </form>
  </body>
</html>