<!DOCTYPE html>
<html lang="en">
    <link href="./style.css" rel="stylesheet" type="text/css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1 id = website-title> 
            Personal Blogs 
        </h1>
        <div class = blog-headings>
            <base href="/home/" />
            <a href="blog/1" class = blog-heading>
                <div class = title>
                    My first blog
                </div>
                <div class = date>
                    August 7, 2024
                </div>
            </a>
            <a href="blog/2" class = blog-heading>
                <div class = title>
                    Second blog
                </div>
                <div class = date>
                    August 2, 2024
                </div>
            </a>
            <a href="blog/new" class = new-blog-button>
                New Article
            </a>
        </div>
    </body>
</html>