<!DOCTYPE html>
<html lang="en">
    <link href="./style.css" rel="stylesheet" type="text/css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1 id = "website-title"> 
            Personal Blogs 
        </h1>
        <div class = "blog-headings">
            <base href="/home/" />
            <% for (let i = 0; i < blogs.length; i++) { %>
                <a href="blog/<%=blogs[i].id %>" class = "blog-heading">
                    <div class = "title">
                        <%= blogs[i].title %>
                    </div>
                    <div class = "date">
                        <%= blogs[i].date %>
                    </div>
                </a>
            <% } %>
            <div class = "new-blog-button">
                <a href="blog/new" >
                    New Blog
                </a>
            </div>
        </div>
    </body>
</html>