<!DOCTYPE html>
<html lang="en">
    <!-- <link href="../../blog_view_page_style.css" rel="stylesheet" type="text/css"> -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        You need to log in to make a new blog. 
        <div class = "log-in-button">
        <a href="log-in" >
            Log in
        </a>
        </div>
        <div class = "sign-up">
        <a href="sign-up" >
            Sign up
        </a>
        </div>
    </body>
</html>