<!DOCTYPE html>
<html lang="en">
  <link href="../../blog_create_page_style.css" rel="stylesheet" type="text/css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article Screen</title>
  </head>
  <body>
    <h1> 
        You don't have access to this blog. Please log in if you are the author.
    </h1>
  </body>
</html>