#website-title {    
    text-align: center; /* Horizontally center the title */
    /* font-size: 10vh; Adjust size as needed */
    font-size: 80px;
    font-weight: bold; /* Make it bold if desired */
    margin-top: 20px; /* Add some spacing from the top */
    padding: 10px;
}

.blog-headings {
    display: flex;
    flex-direction: column;
}

.blog-heading {
    background-color: rgb(133, 133, 133);
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.title {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.date {
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
}

.new-blog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 222, 113);
    margin: 5px;
    width: 100px;
    height: 50px; 
    /* text-align: center; */
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 222, 113);
    margin: 5px;
    width: 100px;
    height: 50px; 
}